@import './utils/variables';
@import './utils/global';
@import './components/index/header';
@import './components/index/logo';
@import './components/index/hero';
@import './components/index/advantages';
@import './components/index/we-do';
@import './components/index/team';
@import './components/socials';
@import './components/index/—Ålients';
@import './components/index/modal-window';
@import './components/footer';
@import './components/portfolio/portfolio'