.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: $timingFunction;
}
.icon {
  width: 20px;
  height: 20px;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primaryWhiteColor;
  justify-content: center;
  align-items: center;
  transition-property: background-color, color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: $timingFunction;
  &:hover,
  &:focus {
    background-color: $accentColor;
  }
  &:hover .icon,
  &:focus .icon {
    fill: $primaryWhiteColor;
  }
}
.social-icons__link--footer {
  background-color: #44454e;
}

.icon {
  fill: $svgColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon--white {
  fill: $primaryWhiteColor;
}
