:root {
  --grid-item: 1;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-left: 30px;
  margin-top: 30px;
  --grid__item: 4;
}

body {
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.03em;
}

.title {
  color: $titleTextColor;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
