.header {
  display: flex;
  min-height: 80px;
  align-items: center;
}

header {
  border-bottom: 1px solid #ececec;
}
.site-nav {
  display: flex;
}
.header-nav {
  margin-left: 93px;
}
.header-contacts {
  margin-left: auto;
  display: flex;
}
.header-nav__item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts__mail:not(:last-child) {
  margin-right: 30px;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    color: $HoverColor;
  }
}

.current {
  color: $accentColor;
  position: relative;
  &::after {
    position: absolute;
    bottom: -32px;
    content: ' ';
    display: block;
    background-color: $accentColor;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}

.mail:focus,
.mail:hover,
.tel:focus,
.tel:hover {
  color: var(--accent-color);
}
.header-contacts__mail,
.header-contacts__tel {
  color: $primaryTextColor;
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
