.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero_pic.jpg);
}

.hero-section__title {
  color: $primaryWhiteColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  background-color: $accentColor;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: $primaryWhiteColor;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timingFunction;
  &:hover,
  &:focus {
    background-color: $HoverColor;
  }
}
