.logo {
  color: $accentColor;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-second-part {
  color: $titleTextColor;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-second-part--footer {
  color: $primaryWhiteColor;
  text-decoration: none;
}
