.mobile-menu-btn {
  background-color: transparent;
  border: none;
  z-index: 100;
  display: inline-flex;
  & .icon-close {
    display: none;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.mobile-menu-btn {
  &:hover,
  &:focus {
    fill: $accentColor;
  }
}

.mobile-menu-btn.is-open {
  .icon-menu {
    display: none;
  }
  .icon-close {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  max-width: 440px;
  height: 100vh;
  background-color: $primaryWhiteColor;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: top 500ms $timingFunction;
  &.is-open {
    top: 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__socials {
  display: flex;
}
.mobile-menu__socials-item:not(:last-child) {
  display: inline-block;
  border-right: 1px solid $primaryTextColor;
}
.mobile-menu__socials-item {
  padding-left: 10px;
  padding-right: 10px;
  color: $accentColor;
  & a {
    color: $accentColor;
  }
}

.mobile-menu__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $titleTextColor;
  display: inline-block;
  margin-bottom: 35px;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.mobile-menu__tel,
.mobile-menu__mail {
  display: block;
  margin-bottom: 35px;
}
.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: $accentColor;
  letter-spacing: 0.02em;
  margin-top: 100px;
}
.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
